body{
    background: #f5f5f5;
}
.jd_layout {

    width: 100%;
    max-width: 640px;  /*在行业中当中移动端的设计图一般使用的640px */
    min-width: 300px; /*在移动端目前最小的尺寸是320px*/
    position: relative;
    margin: 0 auto;
    /*background-color: red;*/
    height: 1000px;
    background-color: #f5f5f5;
}

.jd_header {
    
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;

    z-index: 10000;
}

.jd_header > .jd_header_box {

    width: 100%;
    position: relative;
    max-width: 640px;
    min-width: 300px;
    height: 40px;
    margin: 0 auto;
    background: rgba(201,21,35,0.85);

}

.jd_header > .jd_header_box > .logo {

    width: 60px;
    height: 36px;
    position: absolute;
    display: inline-block;
    margin-top: 4px;
    left: 10px;
    /*background-position: 0 -103px;*/
    color: #fff;
    font-size: 26px;
    font-weight: bold;
}
.jd_header > .jd_header_box > .login {

    width: 50px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    position: absolute;
    top: 0px;
    right: 0px;
}

.jd_header > .jd_header_box > form {

    width: 100%;
    padding: 0 50px 0 75px;
    position: relative;
}

.jd_header > .jd_header_box > form > input {

    width: 100%;
    height: 30px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-top: 5px;
    padding-left: 30px;
}

.jd_header > .jd_header_box > form > .icon_search {

    width: 20px;
    height: 20px;
    background-position: -60px -109px;
    position: absolute;
    top: 10px;
    left: 80px;
}

.jd_banner {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.jd_banner ul:first-child {

    width: 1000%;

    -webkit-transform: translateX(-10%);

    transform: translateX(-10%);

}
#jd_banner1,#jd_banner2 {
    width: 100%;
    overflow: hidden;
    position: relative;
}
#jd_banner1 ul:first-child,#jd_banner2 ul:first-child{
    width: 400%;

    -webkit-transform: translateX(-25%);

    transform: translateX(-25%);
}

.jd_banner ul:first-child li {
    width: 10%;
    float: left;
}
#jd_banner1 ul:first-child li,#jd_banner2 ul:first-child li{
    width: 25%;
    float: left;
}



.jd_banner ul:first-child li a {
    width: 100%;
    display: block;
    font-size:0 ;
}
.jd_banner ul:first-child li a img {
    width: 100%;
    display: block;
}

.jd_banner ul:last-child {
    position: absolute;
    left: 50%;
    bottom: 10px;
    margin-left: -59px;

}


#jd_banner1 ul:last-child,#jd_banner2 ul:last-child {
    margin-left: -11px;
}

.jd_banner ul:last-child li {

    width: 6px;
    height: 6px;
    border: 1px solid #fff;
    border-radius: 3px;
    float: left;
    margin-left: 10px;
}
/*.jd_banner > ul:last-child > li.now {*/
    /*background-color: #fff;*/
/*}*/
.jd_banner > ul:last-child > li.now {
    background: #fff;
}
.jd_banner ul:last-child > li:first-child {
    margin-left: 0;
}


.jd_nav {
    width: 100%;
    background: #fff;
    padding: 5px 0;
    border-bottom: 1px solid #e0e0e0;
}

.jd_nav ul {
    width: 100%;
}

.jd_nav ul li {
    width: 25%;
    float: left;
}

.jd_nav ul li a {
    width: 100%;
    display: block;
    /*margin: 0 auto;*/
}

.jd_nav ul li a p {
    margin-top: 5px;
    font-size: 12px;
    width: 100%;
   text-align: center;
}

.jd_nav ul li a img {
    width: 40px;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
}

/*奖券环节*/

.margin-y {
    margin-top: 8px;
    margin-bottom: 8px;
}
.padding-x {
    padding-left: 8px;
    padding-right: 8px;
}
.container-col01 {
    width: 100%;
    /*height: 80px;*/
    overflow: hidden;
}


.new-slide {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}



.slide-li img {
    display: block;
    overflow: hidden;
    width: 100%;
    /*height: 80px;*/
    
}





/*奖券环节结束*/


.jd_main {
    padding:0 5px;
}

.jd_product {
    margin-top: 10px;
    background: #fff;
    box-shadow: 0 0 1px 1px #e0e0e0;
}

.jd_product > .jd_product_tit {
    height: 32px;
    line-height: 32px;
    border-bottom: 1px solid #e0e0e0;
}
.jd_product > .jd_product_tit h3 {
    font-weight: normal;
    position: relative;
    margin-left: 10px;
    padding-left: 15px;
}

.jd_product > .jd_product_tit h3:before {
    /*width:1px;*/
    height: 12px;
    border-left: 3px solid #d8505c;
    content: '';
    position: absolute;
    top: 10px;
    left: 5px;
}

.jd_product:nth-child(1) > .jd_product_tit:nth-child(1){
    border: 0;
}
.sk_icon {

    background: url("../images/seckill-icon.png") no-repeat;
    background-size: 16px 20px;
    width: 16px;
    height: 20px;
    /*display: block;*/
    float: left;
    margin-top: 6px;
    margin-left: 10px;
}
.sk_name {
    color: #d8505c;
    font-size: 15px;
    /*margin-top: 3px;*/
    float: left;
    margin-left: 10px;
}

.sk_time {
    float: left;
    margin: 10px;
}
.sk_time span {
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    background-color: #333;
    float: left;
    margin-left: 3px;
    color: #fff;
    
}

.sk_time span:nth-child(3n)
{
    background-color: #fff;
    color: #333;
    width: 5px;
}
.sk_more {
    padding-right: 10px;
}

.sk_product {
    width: 100%;
    padding: 10px 0;
}
.sk_product >  li {
    width: 33.3%;
    float: left;
}
.sk_product >.jd_product_con li a{
    width: 100%;
    display: block;
}

.sk_product > li> a > img {
    width: 64%;
    display: block;
    margin:0 auto;
}

.sk_product > li> p {
    width: 100%;
    margin-top:5px;
    font-size: 15px;
    text-align: center;
}

.sk_product > li> p:nth-of-type(1){
    color: #d8505c;
}
.sk_product > li > p:nth-of-type(2){
    text-decoration: line-through;
    color: #666;
 }

.w_50 {
    width: 50%;
    display: block;
}
.w_50 img{
    display: block;
    width: 100%;
}
.b_right {
    border-right: 1px solid #e0e0e0;
}

.b_bottom {
    border-bottom: 1px solid #e0e0e0;
}
.b_left {
    border-left: 1px solid #e0e0e0;
}


/*后来添加部分*/
.slide-li {
    width: 100%;
    visibility: visible;
    background-color: #fff;
    float: left;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

.slide-li img {
    display: block;
    overflow: hidden;
    width: 100%;
}



.floor {
    font-size: 0;
    width: 100%;
}

.floor-title {
    position: relative;
}


.floor-title-container {
    height: 34px;
    line-height: 34px;
    margin: 0 auto;
    background-color: #fff;
    font-size: 16px;
    padding-left: 8px;
    padding-right: 8px;
    overflow: hidden;
}
.bdr-bottom {
    position: relative;
}

.font-col-hybrid {
    color: #f25353;
}
.clear {
    clear: both;
}
.floor-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 0;
}

.floor-item {
    width: 100%;
    font-size: 100%;
    overflow: hidden;
}

.bdr-r {
    position: relative;
}
.container-col01 {
    width: 100%;
    overflow: hidden;
}
.container-col02 {
    width: 50%;
    height: 100%;
    float: left;
}
.floor a {
    text-decoration: none;
}

.floor-container img {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.container-col02 {
    width: 50%;
    height: 100%;
    float: left;
}

.container-col04 {
    width: 25%;
    height: 100%;
    float: left;
}



/*底部*/
.jd-footer {
    background: #f8f8f8;
    color: #848689;
    text-align: center;
    font-size: 12px;
}

.jd-1px-line-up {
    height: 0px;
    border-top: 1px solid #bfbfbf;
    border-width: 1px 0 0 0;
    border-image: url('../image2/row.gif') 2 0 round;
}

.jd-footer-links {
    width: 320px;
    margin: 0 auto;
    display: table;
    height: 13px;
    padding: 18px 0;
}
.jd-footer-links li {
    display: table-cell;
    width: 69px;
    height: 13px;
    line-height: 13px;
    font-size: 13px;
}
.jd-footer-links li:first-child,
.jd-footer-links li:nth-child(2)
{
    border-right: 1px solid #d7d7d7;
}
.jd-footer-links li:last-child {
    border-left: 1px solid #d7d7d7;
}

.jd-footer-links li:first-child, .jd-footer-links li:last-child {
    width: 90px;
}

.jd-footer-links a {
    display: inline-block;
    width: 72px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.1em;
}

.jd-footer-platforms {
    height: 69px;
    width: 320px;
    margin: 0 auto;
    display: table;
}

.jd-footer-platforms li {
    display: table-cell;
}

.jd-footer-platforms li a {
    display: block;
    width: 45px;
    margin: 0 auto;
    font-size: 12px;
    color: #848689;
    text-decoration: none;
    position: relative;
}

.jd-footer-platforms li a:before {
    content: "";
    display: block;
    height: 38px;
    width: 33px;
    margin: 9px auto 0;
    background-position: 0 -70px;
    opacity: 0.6;
    background:url("../images/sprites.png") no-repeat;
    background-size:200px,200px;
}

.jd-footer-platforms li.jd-footer-icon-apps a:before {
    background-position: -120px -70px;
}

.jd-footer-platforms li.jd-footer-icon-touchscreen a:before {
    background-position: -40px -70px;
}
.jd-footer-platforms li.current a:before {
    opacity: 1;
}

.jd-footer-platforms li.jd-footer-icon-pc a:before {
    background-position: -80px -70px;
}



.jd-footer-copyright {
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: #848689;
    font-size: 12px;
}


/*底部nav*/
.bottom-bar-pannel {
    position: fixed;
    height: 44px;
    z-index: 28;
    bottom: 0;
    left: 0;
}

.bottom-bar-pannel .floor-container {
    overflow-x: hidden;
    background-color: #fff;
}
.floor-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 0;
}

.bottom-bar-pannel .tab4, .bottom-bar-pannel .tab5 {
    height: 100%;
    position: relative;
}

.bottom-bar-pannel .tab4 li {
    text-align: center;
    width: 25%;
    float: left;
    height: 100%;
}
.bottom-bar-pannel .bar-img {
    display: inline-block;
    width: 57px;
    height: 44px;
}
.bottom-bar-pannel .bar-img img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    overflow: hidden;
}


/*动态加载*/


.click-loading {
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    color: #7f7f7f;
    text-align: center;
    /*border: 1px solid green;*/
}
.click-loading a {
    display: inline-block;
    height: 32px;
    color: #686868;
    text-decoration: none;

}

/*动态加载结束*/


.love-floor {
    background: #fff;
    margin-top: 8px;
}


.floor .love-floor-title {
    display: inline-block;
    font-size: 15px;
    color: #7f7f7f;
    padding: 8px 0 2px 8px;
    white-space: nowrap;
    width: 100%;
}
.love-floor .love-list {
    margin-top: 2px;
}


.love-list .love-item:nth-child(2n+1) {
    padding-right: 5px;
    padding-left: 6px;
}
.love-list .love-item {
    width: 50%;
    float: left;
}
.love-list li {
    display: block;
    margin: 8px 0 10px;
    padding: 0;
    background: #fff;
    overflow: hidden;
}






.love-item .love-item-title {
    height: 36px;
    border-bottom: solid 1px #d7d7d7;
    margin: 0 5px;
}

.love-item-title span {
    display: -webkit-box;
    overflow: hidden;
    font-size: 12px;
    text-align: left;
    height: 28px;
    line-height: 14px;
    color: #333;
}


.love-item .love-item-bottom {
    margin: 4px;
    display: table;
    vertical-align: middle;
    width: 100%;
}

.love-item-bottom .love-item-price {
    font-size: 14px;
    color: #f15353;
    display: table-cell;
    vertical-align: middle;
}

.love-item-bottom .love-item-icon {
    border: 1px solid #999;
    border-radius: 3px;
    display: inline-block;
    font-size: 12px;
    color: #999;
    padding: 2px 6px;
    float: right;
    /*float: left;*/
    margin-right: 10px;
}
/*动态加载的内容*/

